<%include partials/header%>

<h1>this is login page</h1>

<form action="/login" method="POST">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <button>login</button>
</form>


<p><a href="/register">Sign up</a></p>
<p><a href="/login">login</a></p>
<p><a href="/logout">logout</a></p>

<%include partials/header%>