<%include partials/header%>


<!--login page  -->
<div class="ui main text container segment">
  <form class="ui form" action="/login" method="POST">
    <div class="field">
      <label>Username</label>
      <input type="text" name="username" placeholder="username">
    </div>
    <div class="field">
      <label>Password</label>
      <input type="password" name="password" placeholder="password">
    </div>
    <button>Login</button>
  </form>
</div>

<p><a href="/register">Sign up</a></p>
<p><a href="/login">login</a></p>
<p><a href="/logout">logout</a></p>

<%include partials/footer%>