<%include partials/header%>

<!--login page  -->

<div class="ui main text container segment">
  <form class="ui form" action="/login" method="POST">
    <div class="field">
      <label>Username</label>
      <input type="text" name="username" placeholder="username">
    </div>
    <div class="field">
      <label>Password</label>
      <input type="password" name="password" placeholder="password">
    </div>
    <button>Login</button>
  </form>
</div>

<%include partials/footer%>