<%include partials/header%>
<h1>this is register page</h1>

<form action="/register" method="POST">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <button>Submit</button>
</form>


<p><a href="/register">Sign up</a></p>
<p><a href="/login">login</a></p>
<p><a href="/logout">logout</a></p>

<%include partials/header%>