<%include partials/header%>


<!-- <form action="/register" method="POST">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <button>Submit</button>
</form> -->

<div class="ui main text container segment">
  <form class="ui form" action="/register" method="POST">
    <div class="field">
      <label>Username</label>
      <input type="text" name="username" placeholder="username">
    </div>
    <div class="field">
      <label>Password</label>
      <input type="password" name="password" placeholder="password">
    </div>
    <button>Login</button>
  </form>
</div>


<%include partials/footer%>