<%include partials/header%>

<div class="row">
  <div class="col text-center">
    <h1><%=book.name%></h1>
    <img class="mb-3" src="<%=book.image%>" alt="" style="width: 500px">
    <p><strong><%=book.description%></strong></p>
    <a class="btn btn-lg btn-outline-dark" href="/books">Go back</a>
  </div>
</div>  