body {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(216, 241, 230, 0.46) 0.1%,
    rgba(233, 226, 226, 0.28) 90.1%
  );
  font-family: "Roboto Slab", serif;
  /* font-family: "Abril Fatface", cursive; */
}

/* video for background */
.video-background {
  margin: 0;
  padding: 0;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
}
.video-background video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  pointer-events: none;
}
.video-background .content {
  position: relative;
  z-index: 1;
  max-width: 1000px;
  margin: 0 auto;
}

/* styling navbar */
.navbar {
  z-index: 99;
}
.navbar-brand {
  font-size: 40px;
  font-family: "Righteous", cursive;
}
.font-size-small {
  font-size: 18px;
}

.card-img-top {
  object-fit: cover;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .card-img-top {
    height: 19vw;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .card-img-top {
    height: 16vw;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .card-img-top {
    height: 11vw;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 992px) {
  .card-img-top {
    height: 11vw;
  }
}

/* sytle for footer */
.footer-color {
  background: #3e64ff;
  height: 30vh;
  width: 100%;
}
.footer-brand-font {
  font-family: "Righteous", cursive;
}
.margin-top {
  margin-top: 50px;
}
