body {
  background: red;
  font-family: "Roboto Slab", serif;
  /* font-family: "Abril Fatface", cursive; */
}

/* video for background */
.video-background {
  margin: 0;
  padding: 0;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
}
.video-background video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  pointer-events: none;
}
.video-background .content {
  position: relative;
  z-index: 1;
  max-width: 1000px;
  margin: 0 auto;
}

/* styling navbar */
.navbar {
  z-index: 99;
}
.navbar-brand {
  font-size: 40px;
  font-family: "Righteous", cursive;
}
.font-size-small {
  font-size: 18px;
}
/* .card-img-top {
  width: 100%;
} */
.card-img-top {
  /*height: 11vw;*/
  object-fit: cover;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .card-img-top {
    height: 19vw;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .card-img-top {
    height: 16vw;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .card-img-top {
    height: 11vw;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 992px) {
  .card-img-top {
    height: 11vw;
  }
}
